@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 767px) {
  .gallery img {
    max-height: 100%;
    object-fit: cover;
    margin: auto;
    object-position: top;
    height: auto;
    width: 100%;
  }
}